<% content_for(:html_title) { "店鋪一覧" } %>

<div class="container">
  <h1><strong>店鋪一覧画面</strong></h1>
    <%= link_to "+", new_admin_restaurant_path, class: "btn btn-primary btn-circle pull-right" %>
      <table class="table">
        <thead>
          <tr>
            <th>店鋪ID</th>
            <th>店鋪名</th>
            <th>ジャンル</th>
            <th>管理者</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |p| %>
           <tr>
            <td><%= p.id %></td>
            <td>< link_to p.name, admin_restaurant_path(p.id) ></td>
            <td><%= p.genre.genre_name %></td>
            <td>< p.admin.name %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
  <%= paginate @restaurants, class: "paginate" %>
</div>