<% content_for(:html_title) { "管理者一覧" } %>

<div class="container">
  <h1><strong>管理者一覧画面</strong></h1>
     <table class="table">
        <thead>
          <tr>
            <th>ユーザID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @admins.each do |p| %>
             <tr>
              <td><%= p.id %></td>
              <td><%= link_to p.name, admin_admin_path(p.id)  %></td>
              <td><%= p.email  %></td>
                <% if p.deleted_at.nil? %>
                 <td>入会中</td>
                <% else %>
                 <td>退会状態</td>
                <% end %>
             </tr>
            <% end %>
        </tbody>
      </table>
    </div>
</div>

