<% content_for(:html_title) { "トップページ" } %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= render 'index', ramens: @ramens, random: @random, wants: @wants, repeats: @repeats %>
    </div>
    <div class="col-md-3">
      <%= render 'side', tags: @tags %>
    </div>
  </div>
</div>
