/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
  background-color: #fff;
  color: #333;
  font-family: 'Yu Gothic Medium', Meiryo, 'MS PGothic', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

li {
  list-style: none;
}

nav.pagination {
  display: none;
}
.page a{
  color: white;
}
.page .current {
  color: white;
}

.login-logo {
  float:left;
  width: 40%;
  height: 450px;
}

.skippr-container {
  float: left;
  width: 60%;
  height: 450px;
}

.img-size {
  background-size: cover!important;
  background-position: center!important;
}

.login {
  clear: both;
  padding: 100px;
  color: #fff;
  text-align: center;
  background-image: image-url('wood.jpg');
}

.login h2 {
  text-shadow: 5px 5px 1px #999999;
  margin: 50px;
}

.login h3 {
  text-shadow: 5px 5px 1px #999999;
  line-height: 40px;
}

.image_adjust {
  padding: 10px;
}

.float {
  float: right;
  padding-left: 10px;
}

.clear {
  clear: right;
}

.gray {
  background-color: #c0c0c0;
}

.search {
  padding-bottom: 10px;
}

.tag {
  height: 200px;
  overflow: auto;
}

.under-space {
  margin-bottom: 10px;
}

.up-space {
  padding-top: 70px;
}

.underline {
  background: linear-gradient(transparent 70%, yellow 70%);
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .nameicon {
  margin-right: -90px;
  width: 80px;
  border-radius: 12px;
  background: #d7ebfe;
}

.balloon5 .nameicon p{
  text-align: center;
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  float: left;
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #d7ebfe;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
}


.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}

.login .actions {
  color: black;
}

.login .field {
  color: black;
}

